{
  "name": "Hode-og-Hals-v.2",
  "forms": "src/forms",
  "form_scripts": "src/form-scripts",
  "form_tests": "src/form_tests",
  "opts": "src/operational-templates",
  "data": "data",
  "foldertemplates": "src/foldertemplates",
  "vaqms": "src/vaqms",
  "archetypes": "definition/archetypes",
  "templates": "definition/templates",
  "concepts": null,
  "queries": "definition/aql"
}
